$colors: (
  main-bg: hsl(268, 75%, 9%),
  toggle/keypad-bg: hsl(268, 71%, 12%),
  screen-bg: hsl(268, 71%, 12%),
  key-bg: hsl(281, 89%, 26%),
  key-shadow: hsl(285, 91%, 52%),
  key-bg/toggle: hsl(176, 100%, 44%),
  equal-key-shadow: hsl(177, 92%, 70%),
  main-key-bg: hsl(268, 47%, 21%),
  main-key-shadow: hsl(290, 70%, 36%),
  grayish-blue: hsl(52, 100%, 62%),
  equal-key-color: hsl(198, 20%, 13%),
  neutral: hsl(0, 0%, 100%),
);
