$colors: (
  main-bg: hsl(0, 0%, 90%),
  toggle/keypad-bg: hsl(0, 5%, 81%),
  screen-bg: hsl(0, 0%, 93%),
  key-bg: hsl(185, 42%, 37%),
  key-shadow: hsl(185, 58%, 25%),
  key-bg/toggle: hsl(25, 98%, 40%),
  equal-key-shadow: hsl(25, 99%, 27%),
  main-key-bg: hsl(45, 7%, 89%),
  main-key-shadow: hsl(35, 11%, 61%),
  grayish-blue: hsl(60, 10%, 19%),
  neutral: hsl(0, 0%, 100%),
);
