@font-face {
  font-family: leagueSpartan;
  src: url("/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: leagueSpartan;
  font-weight: 700;
}

body {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(60, 10%, 19%);
}
header h3 {
  font-size: 2rem;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
header div span {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
}
header div #toggle-div {
  background-color: hsl(0, 5%, 81%);
  border-radius: 3em;
  padding: 0.3em;
}
header div #toggle-div input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
header div #labels-div {
  justify-content: space-evenly;
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
header #rounded-switch {
  background-color: hsl(25, 98%, 40%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: translateX(-300%);
}
header #rounded-switch:hover {
  cursor: pointer;
  background-color: #fd7a1c;
}

#theme-one:checked ~ #rounded-switch {
  transform: translateX(-300%);
}

#theme-two:checked ~ #rounded-switch {
  transform: translateX(-150%);
}

#theme-three:checked ~ #rounded-switch {
  transform: translateX(0%);
}

#screen {
  background-color: hsl(0, 0%, 93%);
  margin: 1.3em 0;
  padding: 1.5em 1em;
  border-radius: 0.5em;
  text-align: right;
  font-size: 2rem;
  color: hsl(60, 10%, 19%);
}

section #equals-to:active, section #reset:active,
section #delete:active, section button:active {
  box-shadow: none;
  transform: scale(0.92);
}

section {
  background-color: hsl(0, 5%, 81%);
  padding: 1.2em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
section button {
  border: none;
  font-size: 1.2rem;
  color: hsl(60, 10%, 19%);
  background-color: hsl(45, 7%, 89%);
  border-radius: 0.2em;
  padding: 0.6em;
  box-shadow: 0 4px 0 hsl(35, 11%, 61%);
  font-size: 1.5rem;
}
section button:hover {
  cursor: pointer;
  background-color: white;
}
section .span-btn {
  grid-column: span 2;
}
section #reset,
section #delete {
  border: none;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  border-radius: 0.2em;
  padding: 0.6em;
  box-shadow: 0 4px 0 hsl(185, 58%, 25%);
}
section #reset:hover,
section #delete:hover {
  cursor: pointer;
  background-color: #51afb8;
}
section #equals-to {
  color: white;
  border: none;
  font-size: 1.2rem;
  background-color: hsl(25, 98%, 40%);
  border-radius: 0.2em;
  padding: 0.6em;
  box-shadow: 0 4px 0 hsl(25, 99%, 27%);
}
section #equals-to:hover {
  cursor: pointer;
  background-color: #fd7a1c;
}/*# sourceMappingURL=theme-two.css.map */